<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mentors</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <td th:text="${firstName}"></td>
        <td th:text="${lastName}"></td>
        <td th:text="${age}"></td>
        <td th:text="${gender}"></td>
    </tr>
    </thead>

    <tbody>
    <tr th:each="mentor:${mentors}">
        <td th:text="${mentor.firstName}"></td>
        <td th:text="${mentor.lastName}"></td>
        <td th:text="${mentor.age}"></td>
        <td th:text="${mentor.gender}"></td>
    </tr>

    </tbody>


</table>


</body>
</html>